body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1EB;
    color: #4B321D;
}

header {
    /*border: solid;*/
    display: flex;
    position: sticky;
    justify-content: space-between;

    margin: 2% 13% 0 17%;
}

ul.header_list li {
    font-size: 18px;
    display: inline;
    list-style-type: none;
}

.header_list li{
    padding: 1em;
}

main {
    /*border: solid;*/
    margin-top: 5%;
    width: 100%;
}

/*.first_block {
    position: relative;
    border-style: solid;
}*/

h1 {
    position: relative;
    font-weight: 400;
    font-size: 80px;
    max-width: 16em;
    left: 13%;
}

.main_pic {
    display: flex;
    position: relative;
    margin-top: 10%;
    left: 13%;
    border-radius: 15px;
}

h2 {
    position: relative;
    font-weight: 400;
    font-size: 80px;
    max-width: 18em;
    left: 16%;
}

.see_my_work {
    appearance: none;
    border-radius: 3px;
    height: 50px;
    background: none;
    padding: 8px 16px;
    color: #4B321D;
    border-color: #4B321D;
    border-style: solid;
    font-size: 20px;
    position: relative;
    left: 16%;
}