body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1EB;
    color: #4B321D;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 0 5%;
}

ul.header_list li {
    display: inline;
    list-style-type: none;
}

.header_list li{
    padding: 1em;
}

main {
    position: absolute;
    margin-top: 5%;
}

.first {
    margin-left: 20px;
    font-size: 80px;
}

.qwe {
    margin-left: .7em;
}